{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <div class="application">

        <a href="{% url 'users:application' %}"> Подать заявку </a>
    </div>
    {% for new in news %}
            {% if forloop.counter < 4 %}
            <div class="content_news">
                <a href="#">
                <h1 class="title">{{new.title}}</h1>
                <img src="{{new.main_image.url}}"> </img>
                <p class="news_date">{{new.time_created|date:"d.m.Y"}}</p>
                <p class="brief_description" >{{new.brief_description}}...</p>

                </a>
            </div>
            {% endif %}
    {% endfor %}

<!--        <video>-->
<!--&lt;!&ndash;             <source src="{{ video.file.url }}">&ndash;&gt;-->
<!--        </video>-->
<!--<video-->
<!--                class="video"-->
<!--                controls-->
<!--                preload="auto"-->

<!--          >-->
<!--            <source src="{{ video.file.url }}" type="video/mp4"/>-->
<!--            <source src="{{ video.file.url }}" type="video/webm"/>-->
<!--          </video>-->
</main>
{% endblock %}