{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
<p>HELLO</p>
    <p>HELLO</p><p>HELLO</p><p>HELLO</p><p>HELLO</p><p>HELLO</p><p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p><p>HELLO</p>
    <p>HELLO</p>
    <p>HELLO</p>
    v<p>HELLO</p>
<!--        <video>-->
<!--&lt;!&ndash;             <source src="{{ video.file.url }}">&ndash;&gt;-->
<!--        </video>-->
<!--<video-->
<!--                class="video"-->
<!--                controls-->
<!--                preload="auto"-->

<!--          >-->
<!--            <source src="{{ video.file.url }}" type="video/mp4"/>-->
<!--            <source src="{{ video.file.url }}" type="video/webm"/>-->
<!--          </video>-->
</main>
{% endblock %}