{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <p>Новости</p>
    {{video.title}}
<!--        <video>-->
<!--             <source src="{{ video.file.url }}">-->
<!--        </video>-->
<video

              controls
              preload="auto"
              width="600"
              height="400"
              data-setup="{}"
          >
            <source src="{{ video.file.url }}" type="video/mp4"/>
            <source src="{{ video.file.url }}" type="video/webm"/>
          </video>
</main>
{% endblock %}