.application{
margin-top: 10%;
border: 1px solid #372579;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
text-align: center;
height: 100%;
width: 300px;
font-size: 2em;
border-radius: 100px;;
background-color: #372579;
}
div.application a{
list-style:none;
text-decoration:none;
color: #FFFFFF;
}
.video{
width: 1550px;
height: 872px;
}
.content_news{
border-radius: 5%;
border: 1px solid black;
text-align: left;
margin-right: auto;
margin-left: auto;
height: auto;
width: 600px;
margin-top: 5%;
}
.content_news img{
height: 450px;
width: 100%;
}
.content_news .title {
padding: 5%;
text-align: justify;
font-size: 2em;
}
.content_news .brief_description {
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
font-size: 1.5em;
}
.content_news .news_date{
font-size: 1em;
padding-left: 5%;
padding-right: 5%;
}