.application{
margin-top: 10%;
border: 1px solid #372579;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
text-align: center;
height: 100%;
width: 300px;
font-size: 2em;
border-radius: 100px;;
background-color: #372579;
}
div.application a{
list-style:none;
text-decoration:none;
color: #FFFFFF;
}
.video{
width: 1550px;
height: 872px;
}