*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat';
list-style:none;
text-decoration:none;
}
body {
height: auto;
color: white;
}
header{
background-color: #372579;
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 5%;
}
header a svg{
padding-right: 10%;
width: 200%;
height: 200%;
}
header nav ul li{
position: relative;
float: left;
}
header nav ul li a{
color: white;
display: block;
padding: 15px;
font-size: 3em;
}
nav ul li ul{
position: absolute;
left: 0;
wight: 100%;
background-color: #372579;
color: white;
display: none;
}
nav ul li ul li{
wight: 100%;
color: white;
border: 1px solid #FEF134;
}
nav ul li:hover > ul {
    display: initial;
}