body {
height: auto;
font-family: 'Montserrat';
font-size: 4em;
color: white;
}

.navbar{
width: 100%;
height: 40%;
background-color: #372579;

}
.navbar .container {
height: inherit;
display: flex;
justify-content: start;
align-items: center;
}
.navbar .container .navbar-logo{
width: 40%;
height: 40%;
}
.navbar-menu{
list-style-type: none;
padding-left: 0;
margin-bottom: 0;

}
.navbar-menu li{
display: inline-block;
}
.navbar-menu li a{
color: white;
display: inline-block;
}
nav div div ul li a{
display: block;
}
nav div div ul li ul{
position: absolute;
left: 0;
wight: 100%;
background-color: #372579;
color: white;
display: none;
}
nav div div ul li ul li{
wight: 100%;
}
nav div div ul li:hover > ul {
    display: initial;
}