*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat';
list-style:none;
text-decoration:none;
}
body {
height: auto;
color: white;
}
header{
background-color: #372579;
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 5%;
}
header a svg.main_logo{
padding-right: 50%;
width: 200%;
height: 200%;
}
header nav ul li{
position: relative;
float: left;
}
header nav ul li a{
color: white;
display: block;
padding: 10px;
font-size: 2.5em;
}
header nav ul li button{
color: white;
display: block;
padding: 5px;
font-size: 2.5em;
}
header nav ul li a svg{
color: white;
display: block;
align-items: center;
position: relative;
bottom: 10px;
}
nav ul li ul{
position: absolute;
left: 0;
wight: 100%;
background-color: #372579;
color: white;
display: none;
}

nav ul li ul li{
wight: 100%;
color: #FFFFFF;
border: 1px solid #FEF134;
}
nav ul li:hover > ul {
    display: initial;
}
button.logout{
border: 0;
background-color: #372579;
color: #FFFFFF;
font-size: 3em;
}
main{
margin-top: 35%;
color: black;
}
footer{
background-color: #372579;
padding-top: 5%;
padding-bottom: 5%;
}
.info_block_left{
left:0;
top:0;
width:50%;
height:100%;
overflow:auto;
float:left;
}
.info_block_right{
right:0;
top:0;
width:50%;
height:100%;
overflow:auto;
}

footer div.info_block_right h1{
font-size: 2.5em;
}
footer div.info_block_right ul li{
font-size: 2em;
align-items: center;
padding-left: 10px;
}
footer div.info_block_right ul li svg{
align-items: center;
float: left;
}
footer div.info_block_right ul li svg.footer_svg{
width: 35px;
height: 35px;
}