<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'CSS/application.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="border_application">
        <h1>Заявка в IT LAB</h1>
        <form method="POST">
                    {% csrf_token %}
            <div class="form_application">
            {{form.as_p}}
                <button id="#buttonsubmit" type="submit">Отправить</button>

               <br> <a href="{% url 'news:main' %}">Вернуться назад</a>
            </div>

        </form>
    </div>
</body>
</html>