{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/managers_page.css' %}">
        {% for manager in managers %}
        <div class="managers">
            {% if manager.role == 'Глава IT LAB'%}
                <h1>{{manager.role}}</h1>
            {% if manager.image %}
                    <img class="photo" src="{{manager.image.url}}">
                {% endif %}
                    <p>{{manager.fullName}}</p>
                {% if manager.job_title %}
                    <p>{{manager.job_title}}</p>
                {% endif %}
                {% if manager.phone %}
                    <p>{{manager.phone}}</p>
                {% endif %}
                    <p>{{manager.email}}</p>
                {% if manager.description %}
                <p>{{manager.description}}</p>
                {% endif %}
            {% endif %}
            {% if manager.role == 'Руководство' %}
                <h1>{{manager.role}}</h1>
            {% if manager.image %}
                    <img class="photo" src="{{manager.image.url}}">
                {% endif %}
                    <p>{{manager.fullName}}</p>
                {% if manager.job_title %}
                    <p>{{manager.job_title}}</p>
                {% endif %}
                {% if manager.phone %}
                    <p>{{manager.phone}}</p>
                {% endif %}
                    <p>{{manager.email}}</p>
                {% if manager.description %}
                <p>{{manager.description}}</p>
                {% endif %}
            {% endif %}

            </div>
        {% endfor %}

</main>
{% endblock %}